<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morosos</title>
</head>
<body>
    <h1>Lista de socios morosos</h1>
    {% if lista_socio_moroso %}
        <ul>
        {% for moroso in lista_socio_moroso %}
            <li>{{ moroso }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay usuarios morosos</p>
    {% endif %}

<br>
<a href="/biblio/">Volver</a>
    <div style="text-align:center" >
	<section>
		<footer> <font size="1" color="gray">
                        <em>Jorge Lobo, Jose Restaino, Juan Vanerio. 2017. ANTEL - OMSED - MEI. </em>
			</font>
		</footer>
	</section>
    </div>

</body>
</html>
